.reviews-container {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(128, 0, 128, 0.7);
  border: 1px solid var(--border-color);
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review-col {
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.review-col.expanded {
  flex: 0 0 100%;
  max-width: 100%;
}

.review-card {
  background-color: #1c1c1c; /* Changed background color to match the theme */
  color: var(--card-text-color) !important;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(128, 0, 128, 0.7); /* Purple shadow on hover */
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.review-info {
  color: var(--card-text-color) !important;
}

.review-text {
  color: var(--card-text-color) !important;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the text to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}

.review-text.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.review-rating {
  margin-top: 1rem;
}

.rating-5 {
  color: green;
}

.rating-4 {
  color: limegreen;
}

.rating-3 {
  color: orange;
}

.rating-2 {
  color: orangered;
}

.rating-1 {
  color: red;
}

/* Responsive Design */
@media (min-width: 576px) {
  .review-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .review-col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px) {
  .review-col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}